.root{
    width: 100vw;
    height: 100vh;
}
.inline{ 
    width: 45vw;
}
.padding{
    padding: 5%
}

.characterCount{
    float:right;
    font-family: "Bakersville";
    font-size: 0.6em;
    opacity: 1;
}